
body {
  font-family: sans-serif;
  background-color: #ffebcd;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
}

.leftJustified {
  text-align: left;
}
